@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #254252;
    }

    .cabeçalho-imagem{ 
        width: 5%;
        border-radius: 100%;
    }
    .cabeçalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        background-color: #171c2d;
    }
    .cabeçalho-menu {
        display: flex;
        gap: 30px;
    }
    .cabeçalho-menu-item {
        font-family: 'Open Sans', sans-serif;
        color: #fab10c;
        font-weight: 300;
        font-size: 24px;
    }
    .conteudo {
        border-top: 2px solid #171c2d;
        margin-bottom: 100px;
    }
    .conteudo-principal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .conteudo-principal-escrito {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .conteudo-principal-escrito-titulo {
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        font-size: 64px;
        color: #d6d6d6    
    }
    .conteudo-principal-escrito-subtitulo {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: #f9982f; 
    }
    .conteudo-principal-escrito-botao {
        background-color: #fab10c;
        width: 180px;
        height: 60px;
        border: none;
        box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
        border-radius: 15px;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        font-size: 24px;
        color: #d6d6d6;
    }
    .conteudo-principal-escrito-botao:hover{
        background-color: rgba(236,214, 196, 0.53);
    }

    .conteudo-principal-imagem {
        height: 430px;
        border-radius: 20px;
    }
    .conteudo-secundario {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:24px;
        margin-top: 40px;
    }
    .conteudo-secundario-titulo {
        border-top: 3px solid #d6d6d6;
        padding-top: 40px;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        font-size: 30px;
        color: #d6d6d6;
        margin-bottom: 16px;
    }
    .conteudo-secundario-paragrafo {
        font-family: 'Open Sans', sans-serif;
        font-weight: 200;
        font-size: 22px;
        color: #d6d6d6;
    }
    .rodape{
        background-color: #171c2d;
    }
    .rodape-imagem{
        height: 150px;
        display: block;
        margin: 0 auto;
        
    }